/*
//  MISC. STYLING
*/
* { font-family: 'Share Tech Mono', monospace; margin: 0; color: #0C1112; }
body { background-color: white; position: relative; left: 0%; top: 0%; z-index: 0; }
#overlay { background-color: #e0eee9; z-index: 2; left: 0%; top: 0%; width: inherit; height: inherit; }
#backimg { position: absolute; z-index: 1; left: 0%; top: 0%; opacity: 50%;}

/*
//  MENU
*/
#menu {  background-color: #E0EEE9; position: absolute;  width: auto; height: auto; box-sizing: border-box; z-index: 3; padding: 0.5%; box-shadow: 0px 0px 8px 2px #3B4D52; }
header { font-size: 0.7rem; padding-bottom: 3%; padding-top: 3%; }
.games { width: inherit; background-color:  #d1e2dc; text-align: center; padding: 6%; font-size: 1.2rem; list-style: none; margin: 3%; border-style: solid; border-width: 3px;  border-color:#b6c7c1; }
.games:hover { background-color:  #dce9e4; border-style: solid; border-width: 3px;  border-color:#c4d1cd; color: #303c3f; }
