.team-blue, .team-red, #current-team { 
    font-size: 2rem; 
    text-align: center;
}
.team-blue { 
    color: blue; 
}
.team-red { 
    color: red; 
}
#board { 
    height: 300px; 
    width: 300px;
}
.square, .square-blue, .square-red { 
    width: 100px; 
    float: left; 
    height: 100px; 
    background-color:#e0eee9; 
    border: 0.45rem ridge #3B4D52; box-sizing: border-box; 
}
.square-red { 
    background-color: rgb(173, 110, 110); 
}
.square-blue { 
    background-color: rgb(125, 162, 204); 
}