#checkerboard {
    background-image: url('../media/checkerboard.png');
    border: 20px ridge #9ca2a5; 
    box-sizing: border-box;
}
#pieceholder { 
    margin-left: 0.75%; 
    margin-top: 0.75%; 
    box-sizing: border-box; 
    height: 200px; 
    width: 600px; 
}
#checkerboard { 
    height: 600px; 
    width: 600px; 
}
.item { 
    float: left; 
}