#checkerboard {
    background-image: url('../media/checkerboard.png');
    border: 20px ridge #9ca2a5; 
    box-sizing: border-box;
}
#pieces { margin-left: 30px; margin-top: 30px; box-sizing: border-box; } /* This is the container for the pieces, not the actual pieces themselves. */
#checkerboard { height: 600px; width: 600px; }
#pieces { height: 570px; width: 600px; }
#checkerboard, #pieces, .item { float: left; }